*
{
    margin: 0px;
    padding: 9px;
    box-sizing: border-box;
}
#main-comp
{
    display: grid;
    grid-template-columns: 650px 1fr;
}
#Cards-comp-main
{
    background-color: #efb25f;
}
#sidebar {
    background-color: brown;
}